{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1 > {{ movie.title}} </h1>
    <br>
    <div class="box" style="text-align:center">
        {% if added %}
        <button class="btn btn-success disabled"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

    <div class="detail-container">
        <img class="detail-item col-md-4" style="display:inline" src="{{movie.poster}}"/>
        <div class="detail-item col-md-8">
            <h3>Year :</h3>
            {{movie.year}}
            <h3>Released :</h3>
            {{movie.released}}
            <h3>Duration :</h3>
            {{movie.runtime}}
            <h3>Genre :</h3>
            {{movie.genre}}
            <h3>Writer :</h3>
            {{movie.writer}}
            <h3>Actors :</h3>
            {{movie.actors}}
            <h3>IMDB RATING :</h3>
            <span style="font-weight: 600;font-style: bold;font-size: 3rem;color: blue">{{movie.imdbrating}}</span>
        </div>
    </div>
    <br>
</div>
{% endblock %}
