{% extends "lab_4/layout/base.html" %}
{% block content %}

<style>
    h1,h2,p,ul,h2, form{
		color : blue;
	}
	
</style>

<h1 style="text-align: center">Indra Septama</h1>
<img src = "https://akimg0.ask.fm/2e0/cf489/d149/4d4b/b0c8/3414148d047b/normal/119095.jpg" alt="my-image" style ="border-radius: 50%; 200px; display: block;margin: 0 auto" />
<hr/>
<section name="bio">
	<h2>Bio</h2>
	<p>
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2>Indras Itu..</h2>
	<ul>
		{% for ii in about_me %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>
<section name="form">
	<h2>Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>

{% endblock %}